<br />

<div
    class="btn-group btn-group-toggle"
    ngbRadioGroup
    name="radioBasic"
    [(ngModel)]="view"
>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="calendarView.Month" />
        Monat
    </label>

    <label ngbButtonLabel class="btn-primary">
        <input
            ngbButton
            type="radio"
            [value]="calendarView.Week"
            (click)="daysInWeek = null"
        />
        Woche
    </label>

    <label ngbButtonLabel class="btn-primary">
        <input
            ngbButton
            type="radio"
            [value]="calendarView.ThreeDay"
            (click)="daysInWeek = 3"
        />
        3 Tage
    </label>

    <label ngbButtonLabel class="btn-primary">
        <input
            ngbButton
            type="radio"
            [value]="calendarView.Day"
            (click)="daysInWeek = 1"
        />
        Tag
    </label>
</div>

<hr />

<ng-container *ngIf="view === calendarView.Month; else weekView">
    <mwl-calendar-month-view
        [events]="events"
        [locale]="locale"
        [viewDate]="viewDate"
        [weekStartsOn]="weekStartsOn"
    ></mwl-calendar-month-view>
</ng-container>

<ng-template #weekView>
    <!-- 
        If the daysInWeek property is set to a number, 
        viewDate will be the first day of the week, to 
        prevent this from happening in the week view set
        daysInWeek to NULL.
    -->
    <mwl-calendar-week-view
        [dayEndHour]="dayEndHour"
        [dayEndMinute]="dayEndMinute"
        [daysInWeek]="daysInWeek"
        [dayStartHour]="dayStartHour"
        [dayStartMinute]="dayStartMinute"
        [events]="events"
        [hourSegments]="hourSegments"
        [locale]="locale"
        [viewDate]="viewDate"
        [weekStartsOn]="weekStartsOn"
    ></mwl-calendar-week-view>
</ng-template>
