<br />
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto pb-3 btn-group">
            <button
                class="btn btn-primary px-4"
                [class.active]="view === calendarView.Month"
                (click)="toggleView(calendarView.Month)"
            >
                Monat
            </button>
            <button
                class="btn btn-primary px-4"
                (click)="toggleView(calendarView.Week)"
                [class.active]="
                    view === calendarView.Week && daysInWeek === null
                "
            >
                Woche
            </button>
            <button
                class="btn btn-primary px-4"
                [class.active]="view === calendarView.Week && daysInWeek === 3"
                (click)="toggleView(calendarView.Week, 3)"
            >
                3 Tage
            </button>
            <button
                class="btn btn-primary px-4"
                [class.active]="view === calendarView.Week && daysInWeek === 1"
                (click)="toggleView(calendarView.Week, 1)"
            >
                Tag
            </button>
        </div>

        <div id="calendar-navigation" class="col-auto pb-3">
            <button
                class="btn btn-primary px-4"
                mwlCalendarPreviousView
                [(viewDate)]="viewDate"
                [view]="view"
                [daysInWeek]="daysInWeek"
            >
                <i class="fas fa-chevron-circle-left"></i>
            </button>

            <button
                class="btn btn-primary px-4 mx-1"
                mwlCalendarToday
                [(viewDate)]="viewDate"
            >
                <i class="fas fa-calendar-day"></i> Heute
            </button>
            <button
                class="btn btn-primary px-4"
                mwlCalendarNextView
                [(viewDate)]="viewDate"
                [view]="view"
                [daysInWeek]="daysInWeek"
            >
                <i class="fas fa-chevron-circle-right"></i>
            </button>
        </div>

        <!-- Toggle to open collapsed filter menu -->
        <div class="col-auto pb-3 btn-group">
            <button
                type="button"
                class="btn btn-primary px-4"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapsedFilterMenu"
            >
                Filter
            </button>
        </div>
    </div>

    <!-- Filter menu -->
    <div
        class="row justify-content-center"
        id="collapsedFilterMenu"
        [ngbCollapse]="isCollapsed"
    >
        <!-- Basis Filter Options (Room, Trainer, Eventtype) -->

        <div ngbDropdown class="pb-3 mx-2">
            <button
                class="btn"
                [class.btn-outline-primary]="
                    roomSelection === undefined ||
                    roomSelection.value === undefined
                "
                [class.btn-primary]="
                    roomSelection !== undefined &&
                    roomSelection.value !== undefined
                "
                id="roomFilterBtn"
                name="roomFilter"
                ngbDropdownToggle
            >
                {{
                    roomSelection === undefined ||
                    roomSelection.value === undefined
                        ? 'Raum auswählen'
                        : roomSelection.name
                }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownRoomFilter">
                <button
                    class="dropdown-item"
                    id="selectedRoomBtn"
                    name="selectedRoomFilter"
                    *ngFor="let room of rooms"
                    (click)="roomSelection = room; updateView()"
                    active
                >
                    {{ room.name }}
                </button>
            </div>
        </div>
        <div ngbDropdown class="pb-3 mx-2">
            <button
                class="col-auto btn"
                [class.btn-outline-primary]="trainerSelection === undefined"
                [class.btn-primary]="trainerSelection !== undefined"
                id="trainerFilterBtn"
                name="trainerFilter"
                ngbDropdownToggle
            >
                {{
                    trainerSelection === undefined
                        ? 'Trainer auswählen'
                        : trainerSelection
                }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownTrainerFilter">
                <button
                    class="dropdown-item"
                    id="selectedTrainerBtn"
                    name="selectedTrainerFilter"
                    *ngFor="let trainer of trainerList"
                    (click)="trainerSelection = trainer; updateView()"
                >
                    {{ trainer !== undefined ? trainer : 'Kein Filter' }}
                </button>
            </div>
        </div>
        <div ngbDropdown class="pb-3 mx-2">
            <button
                class="col-auto btn"
                [class.btn-outline-primary]="
                    eventTypeSelection === undefined ||
                    eventTypeSelection.value === undefined
                "
                [class.btn-primary]="
                    eventTypeSelection !== undefined &&
                    eventTypeSelection.value !== undefined
                "
                id="eventtypeFilterBtn"
                name="eventtypeFilter"
                ngbDropdownToggle
            >
                {{
                    eventTypeSelection === undefined ||
                    eventTypeSelection.value === undefined
                        ? 'Eventtyp auswählen'
                        : eventTypeSelection.name
                }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownEventtypeFilter">
                <button
                    class="dropdown-item"
                    id="selectedEventtypeBtn"
                    name="selectedEventtypeFilter"
                    *ngFor="let type of eventTypes"
                    (click)="eventTypeSelection = type; updateView()"
                >
                    {{ type.name }}
                </button>
            </div>
        </div>

        <!--    dependant on eventtype selection (above) some subfilter appear
                on md+ screens: same row
                on small screens shall be in next row
        -->
        <div id="additionalContextFilter" class="mb-1">
            <div
                *ngIf="
                    eventTypeSelection !== undefined &&
                    eventTypeSelection.name === 'Kurs'
                "
                id="ageFilter"
            >
                <div class="form-group ml-1 mr-1" id="minFilter">
                    <label for="minAgeFilter">Min Alter</label>
                    <input
                        type="number"
                        min="5"
                        max="20"
                        class="form-control"
                        id="minAgeFilter"
                        name="minAgeFilter"
                        [(ngModel)]="minAgeFilter"
                        (input)="updateView()"
                    />
                </div>
                <div class="form-group" id="maxFilter">
                    <label for="maxAgeFilter">Max Alter</label>
                    <input
                        type="number"
                        min="5"
                        max="20"
                        class="form-control"
                        id="maxAgeFilter"
                        name="maxAgeFilter"
                        [(ngModel)]="maxAgeFilter"
                        (input)="updateView()"
                    />
                </div>
            </div>

            <div
                *ngIf="
                    eventTypeSelection !== undefined &&
                    eventTypeSelection.name === 'Geburtstag'
                "
                id="bdTypeFilter"
            >
                <div ngbDropdown class="mr-1">
                    <button
                        class="btn"
                        [class.btn-outline-primary]="
                            bdTypeSelection === undefined ||
                            bdTypeSelection.value === undefined
                        "
                        [class.btn-primary]="
                            bdTypeSelection !== undefined &&
                            bdTypeSelection.value !== undefined
                        "
                        id="bdTypeFilterBtn"
                        name="bdTypeFilter"
                        ngbDropdownToggle
                    >
                        {{
                            bdTypeSelection === undefined ||
                            bdTypeSelection.value === undefined
                                ? 'Geburtstagsart auswählen'
                                : bdTypeSelection.name
                        }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBdTypeFilter">
                        <button
                            class="dropdown-item"
                            id="selectedBdTypeBtn"
                            name="selectedBdTypeFilter"
                            *ngFor="let type of bdTypes"
                            (click)="bdTypeSelection = type; updateView()"
                        >
                            {{ type.name }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 *ngIf="view === calendarView.Month">
        {{ viewDate | calendarDate: view + 'ViewTitle':'de-AT' }}
    </h3>

    <ng-container *ngIf="view === calendarView.Month; else weekView">
        <mwl-calendar-month-view
            [events]="filteredEvents"
            [locale]="locale"
            [viewDate]="viewDate"
            [weekStartsOn]="weekStartsOn"
            (eventClicked)="showDetails($event)"
            (dayClicked)="addEvent($event.day.date)"
        ></mwl-calendar-month-view>
    </ng-container>

    <ng-template #weekView>
        <!-- 
        If the daysInWeek property is set to a number, 
        viewDate will be the first day of the week, to 
        prevent this from happening in the week view set
        daysInWeek to NULL.
    -->
        <mwl-calendar-week-view
            [dayEndHour]="dayEndHour"
            [dayEndMinute]="dayEndMinute"
            [daysInWeek]="daysInWeek"
            [dayStartHour]="dayStartHour"
            [dayStartMinute]="dayStartMinute"
            [events]="filteredEvents"
            [hourSegments]="hourSegments"
            [locale]="locale"
            [viewDate]="viewDate"
            [weekStartsOn]="weekStartsOn"
            (eventClicked)="showDetails($event)"
            (hourSegmentClicked)="addEvent($event.date)"
        ></mwl-calendar-week-view>
    </ng-template>
</div>
