/*
:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

    #side-bar {
        flex-grow: 1;
        flex-basis: 75px;
        min-width: 15vw;
        padding: 10px;
        background: lightgreen;
    }

    #app {
        flex-grow: 2;        
        flex-basis: 500px;
        padding: 10px;
        overflow: auto;
    }
}
*/
#side-bar {
    background: lightgreen;
}
