<nav class="navbar">
    <div id="brand" class="">
        <span id="image">
            <img
                src="https://u.jimcdn.com/cms/o/s346571bc7945c6e1/img/favicon.png?t=1517309910"
                style="margin:7px 0"
            />
        </span>
        <span id="text">Talentegarten</span>
    </div>

    <div class="navbar-toggler" (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
    </div>

    <div
        id="nav-items"
        class="navbar-nav overlay"
        [ngClass]="{ 'pop-out-menu': showMenu }"
    >
        <button class="close" (click)="toggleMenu()">
            <span>&times;</span>
        </button>
        <ul class="list-unstyled text-align-center">
            <li
                class="nav-link"
                *ngFor="let nav of navLinks"
                (click)="toggleMenu()"
            >
                <a [routerLink]="nav.path" routerLinkActive="active-link">
                    {{ nav.name }}
                </a>
            </li>
        </ul>
    </div>
</nav>
