<h1 class="row justify-content-center">
    Beratungstermin {{ auth.isLoggedIn ? 'eintragen' : 'buchen' }}
</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form
                id="consultationForm"
                #consultationForm
                (change)="clearInfoMsg()"
                class="container-fluid"
            >
                <!-- First row -->
                <div class="row">
                    <div class="form-group col-lg">
                        <label for="consultationName">Name des Termins</label>
                        <input
                            type="text"
                            [(ngModel)]="event.name"
                            class="form-control"
                            name="name"
                            id="consultationName"
                            placeholder="Beratungstermin1"
                            required
                        />
                    </div>
                </div>

                <!-- Second row -->
                <div class="row">
                    <div class="form-group col-lg">
                        <label for="consultationFirstName">Vorname</label>
                        <input
                            class="form-control"
                            [(ngModel)]="customer.firstName"
                            type="text"
                            name="firstName"
                            id="consultationFirstName"
                            placeholder="Maximilian"
                            required
                        />
                    </div>
                    <div class="form-group col-lg">
                        <label for="consultationLastName">Nachname</label>
                        <input
                            class="form-control"
                            [(ngModel)]="customer.lastName"
                            type="text"
                            name="lastName"
                            id="consultationLastName"
                            placeholder="Mustermann"
                            required
                        />
                    </div>
                </div>

                <!-- Third row -->
                <div class="row">
                    <div class="form-group col-lg">
                        <label for="consultationPhoneNumber">Telefonnummer</label>
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="customer.phone"
                            name="phoneNumber"
                            id="consultationPhoneNumber"
                            placeholder="+436641234567"
                            required
                        />
                    </div>
                    <div class="form-group col-lg">
                        <label for="consultationEmail">Email</label>
                        <input
                            type="email"
                            class="form-control"
                            name="email"
                            [(ngModel)]="customer.email"
                            id="customerEmail"
                            placeholder="max.mustermann@email.com"
                            required
                        />
                    </div>
                </div>

                <!-- Fourth row -->
                <div class="row justify-content-md-center">
                    <div class="form-group col-lg" id="datePicker-dp-start">
                        <label>Von</label>
                        <div class="input-group">
                            <input
                                [readonly]="true"
                                class="form-control"
                                id="startDate"
                                name="startDate"
                                placeholder="YYYY-MM-DD"
                                [(ngModel)]="startDate"
                                ngbDatepicker
                                (click)="dp1.toggle()"
                                #dp1="ngbDatepicker"
                                required
                            />
                        </div>
                    </div>
                    <div class="form-group col-lg">
                        <ngb-timepicker
                            readonlyInputs="true"
                            [(ngModel)]="startTime"
                            id="startTime"
                            name="startTime"
                            [minuteStep]="minuteStep"
                        >
                        </ngb-timepicker>
                    </div>
                </div>

                <!-- Sixth row -->
                <div class="row" id="consultationDropDown">
                    <div ngbDropdown class="col-lg mb-3">
                        <button
                            class="btn btn-outline-primary"
                            id="roomButtonStart"
                            name="roomButton"
                            ngbDropdownToggle
                            required
                        >
                            {{ selectedRoom }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button
                                class="dropdown-item"
                                id="roomButtonSelected"
                                name="roomButton"
                                *ngFor="let room of rooms"
                                (click)="changeSortOrderRoom(room)"
                            >
                                {{ room }}
                            </button>
                        </div>
                    </div>

                    <div ngbDropdown class="col-lg " id="consultationDropDown">
                        <button
                            class="btn btn-outline-primary"
                            id="trainerButtonStart"
                            name="trainerButton"
                            ngbDropdownToggle
                        >
                            {{ selectedTrainer }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                            <button
                                class="dropdown-item"
                                id="trainerButtonSelected"
                                name="trainerButton"
                                *ngFor="let trainer of trainers"
                                (click)="changeSortOrderTrainer(trainer)"
                            >
                                {{ trainer.firstName + ' ' + trainer.lastName }}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Seventh row -->
                <div class="row mb-4">
                    <div class="col-auto mt-4" *ngIf="!auth.isLoggedIn">
                        <app-recaptcha></app-recaptcha>
                    </div>

                    <div
                        class="col-md mt-4 alert alert-success d-flex flex-column align-items-center justify-content-center"
                        *ngIf="successMsg"
                    >
                        <span>{{ successMsg }}</span>
                    </div>

                    <div
                        class="col-md mt-4 mb-0 alert alert-danger d-flex flex-column align-items-center justify-content-center"
                        *ngIf="errorMsg"
                    >
                        <span>{{ errorMsg }}</span>
                    </div>
                </div>
                <div class="row justify-content-end" style="padding-right: 15px">
                    <button class="btn btn-light mr-2" (click)="goBack()" *ngIf="!auth.isLoggedIn">
                        Abbrechen
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!isCompleted()"
                        (click)="clearInfoMsg()"
                        (click)="postConsultation(consultationForm)"
                        id="consultationSave"
                    >
                        {{ auth.isLoggedIn ? 'Eintragen' : 'Buchen' }}
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
