<h1 class="row justify-content-center">{{ title }}</h1>
<hr />

<form
    id="consultationForm"
    #consultationForm
    (change)="clearInfoMsg()"
    class="container-fluid"
>
    <!-- First row -->
    <div class="row justify-content-center">
        <div class="form-group col-lg-6">
            <label for="consultationName">Name des Termins</label>
            <input
                type="text"
                [(ngModel)]="event.name"
                class="form-control"
                name="name"
                id="consultationName"
                placeholder="Beratungstermin1"
                required
            />
        </div>
    </div>

    <!-- Second row -->
    <div class="row justify-content-center">
        <div class="form-group col-lg-3">
            <label for="consultationFirstName">Vorname</label>
            <input
                class="form-control"
                [(ngModel)]="customer.firstName"
                type="text"
                name="firstName"
                id="consultationFirstName"
                placeholder="Maximilian"
                required
            />
        </div>
        <div class="form-group col-lg-3">
            <label for="consultationLastName">Nachname</label>
            <input
                class="form-control"
                [(ngModel)]="customer.lastName"
                type="text"
                name="lastName"
                id="consultationLastName"
                placeholder="Mustermann"
                required
            />
        </div>
    </div>

    <!-- Third row -->
    <div class="row justify-content-center">
        <div class="form-group col-lg-3">
            <label for="consultationPhoneNumber">Telefonnummer</label>
            <input
                type="text"
                class="form-control"
                [(ngModel)]="customer.phone"
                name="phoneNumber"
                id="consultationPhoneNumber"
                placeholder="+436641234567"
                required
            />
        </div>
        <div class="form-group col-lg-3">
            <label for="consultationEmail">Email</label>
            <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="customer.email"
                id="customerEmail"
                placeholder="max.mustermann@email.com"
                required
            />
        </div>
    </div>

    <!-- Fourth row -->
    <div class="row justify-content-center">
        <div class="form-group col-lg-3" id="datePicker-dp-start">
            <label class="col-sm-2" for="dp">Von</label>
            <div class="input-group">
                <input
                    class="form-control"
                    id="dp-input-start"
                    name="dp"
                    [(ngModel)]="startDate"
                    ngbDatepicker
                    #d1="ngbDatepicker"
                />

                <div class="input-group-append">
                    <button
                        class="btn btn-outline-secondary calendar fa fa-calendar"
                        (click)="d1.toggle()"
                        type="button"
                    ></button>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-3" id="startTime_css">
            <ngb-timepicker
                [(ngModel)]="startTime"
                id="tp-input-start"
                name="startTime"
                [minuteStep]="minuteStep"
            >
            </ngb-timepicker>
        </div>
    </div>

    <!-- Fifth row -->
    <div class="row justify-content-md-center">
        <div class="form-group col-lg-3" id="datePicker-dp-end">
            <label class="col-sm-2" id="datePicker-label-end" for="dp2"
                >Bis</label
            >
            <div class="input-group">
                <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp2"
                    [(ngModel)]="endDate"
                    ngbDatepicker
                    #d2="ngbDatepicker"
                />

                <div class="input-group-append">
                    <button
                        class="btn btn-outline-secondary calendar fa fa-calendar"
                        (click)="d2.toggle()"
                        type="button"
                    ></button>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-3" id="endTime_css">
            <ngb-timepicker
                [(ngModel)]="endTime"
                name="endTime"
                [minuteStep]="minuteStep"
            >
            </ngb-timepicker>
        </div>
    </div>

    <!-- Sixth row -->
    <div class="row justify-content-md-center" id="consultationDropDown">
        <div ngbDropdown class="d-inline-block col-lg-3">
            <button
                class="btn btn-outline-primary"
                id="roomButtonStart"
                name="roomButton"
                ngbDropdownToggle
            >
                {{ roomString }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                    class="dropdown-item"
                    id="roomButtonSelected"
                    name="roomButton"
                    *ngFor="let room of rooms"
                    (click)="changeSortOrder(room)"
                >
                    {{ room }}
                </button>
            </div>
        </div>

        <!-- <div class="col-lg-3" id="consultationDropDown">
            <div ngbDropdown class="d-inline-block col-lg-3">
                <button
                    class="btn btn-outline-primary"
                    id="roomButtonStart"
                    name="roomButton"
                    ngbDropdownToggle
                >
                    {{ roomString }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button
                        class="dropdown-item"
                        id="roomButtonSelected"
                        name="roomButton"
                        *ngFor="let room of rooms"
                        (click)="changeSortOrder(room)"
                    >
                        {{ room }}
                    </button>
                </div>
            </div>
        </div> -->
    </div>

    <div class="row" *ngIf="errorMsg">
        <div class="col-sm-12">
            <p class="alert alert-danger">
                {{ errorMsg }}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="successMsg">
        <div class="col-sm-12">
            <p class="alert alert-success">
                {{ successMsg }}
            </p>
        </div>
    </div>
    <br />

    <!-- Seventh row -->
    <div class="row justify-content-center">
        <button
            type="submit"
            class="btn btn-primary col-3"
            [disabled]="!isCompleted()"
            (click)="postConsultation(consultationForm)"
            id="consultationSave"
        >
            Beratungstermin anfordern
        </button>
        <button type="reset" class="btn btn-danger col-3" id="cancel">
            Abbrechen
        </button>
    </div>
</form>
