<h1 class="row justify-content-center">{{ title }}</h1>
<hr />

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form
            class="container-fluid"
            novalidate
            (ngSubmit)="postHoliday(holiday)"
            #holidayForm
        >
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="name">Urlaubsname</label>
                    <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="holidayName"
                        name="holidayname"
                        id="holidayname"
                        placeholder="Urlaubsname"
                        required
                    />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="holidayDescription">Beschreibung</label>
                    <textarea
                        type="text"
                        class="form-control"
                        rows="4"
                        name="descriptionTextarea"
                        [(ngModel)]="holidayDescription"
                        id="holidayDescription"
                        ng-trim="false"
                        maxlength="1024"
                        placeholder="Beschreibung/Detaillinformation"
                    ></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6" id="d6p1">
                    <label for="startdate" id="labelvon">Von</label>
                    <div class="input-group">
                        <input
                            class="form-control"
                            id="startdate"
                            ngbDatepicker
                            #dstart="ngbDatepicker"
                            (click)="dstart.toggle()"
                            placeholder="YYYY-MM-DD"
                            name="holidayStartDate"
                            [(ngModel)]="startDate"
                            required
                            readonly
                        />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <ngb-timepicker
                            id="starttime"
                            [minuteStep]="15"
                            readonlyInputs="true"
                            name="holidayStartTime"
                            [(ngModel)]="startTime"
                        >
                        </ngb-timepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" id="d6p2">
                    <label for="enddate" id="labelbis">Bis</label>
                    <div class="input-group">
                        <input
                            class="form-control"
                            id="enddate"
                            ngbDatepicker
                            #dend="ngbDatepicker"
                            (click)="dend.toggle()"
                            placeholder="YYYY-MM-DD"
                            name="holidayEndStart"
                            [(ngModel)]="endDate"
                            required
                            readonly
                        />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <ngb-timepicker
                            name="endtimepicker"
                            id="endtime"
                            [minuteStep]="15"
                            readonlyInputs="true"
                            name="holidayEndTime"
                            [(ngModel)]="endTime"
                        >
                        </ngb-timepicker>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg">
                    <div class="custom-control custom-switch">
                        <input
                            name="toggler"
                            type="checkbox"
                            class="custom-control-input"
                            id="options"
                            [(ngModel)]="toggleOptions"
                            (input)="togg()"
                        />
                        <label class="custom-control-label" for="options"
                            >Wiederkehrender Urlaub</label
                        >
                    </div>
                </div>
            </div>
            <br />

            <div *ngIf="toggleOptions">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="repeatAt">Wiederhohlen</label>
                        <select
                            class="browser-default custom-select"
                            id="repeatAt"
                            name="repeatAt"
                            [(ngModel)]="repeatModul"
                        >
                            <option *ngFor="let r of repeatEvery">{{
                                r
                            }}</option>
                        </select>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
                <br />
                <div class="row" *ngIf="isRepeat()">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-2">
                                <label for="repeatAfterX">Alle</label>
                            </div>
                            <div class="col-lg-4">
                                <input
                                    type="number"
                                    name="repeatAfterX"
                                    id="repeatAfterX"
                                    [(ngModel)]="alleX"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p>Tage/Wochen/Monate wiederholen</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5" *ngIf="isRepeat()">
                                <label for="stopAfter">Ended</label>
                                <select
                                    class="browser-default custom-select"
                                    id="stopAfter"
                                    name="stopAfter"
                                    [(ngModel)]="terminateModul"
                                >
                                    <option *ngFor="let t of terminateAfter">
                                        {{ t }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-1" *ngIf="isTerminate()">
                                <input
                                    type="number"
                                    name="termAfter"
                                    id="termAfter"
                                    [(ngModel)]="endedX"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="isTerminate()" id="10p">
                        <p>Wiederholungen</p>
                    </div>
                </div>
            </div>
            <br />

            <div class="row" *ngIf="errorMsg">
                <div class="col-sm-12">
                    <p class="alert alert-danger">
                        {{ errorMsg }}
                    </p>
                </div>
            </div>
            <div class="row" *ngIf="successMsg">
                <div class="col-sm-12">
                    <p class="alert alert-success">
                        {{ successMsg }}
                    </p>
                </div>
            </div>
            <div class="row" style="padding:0 15px" id="submit">
                <div class="col-lg-6"></div>
                <button
                    [disabled]="!isCompleted()"
                    class="btn btn-primary"
                    type="submit"
                    style="margin-left:15px;"
                >
                    Urlaub eintragen
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
