<div class="container">
    <h1>{{ title }}</h1>
    <form 
        novalidate 
        (ngSubmit)="postHoliday(holiday)"
        >
        <div class="row">
            <div class="col-sm">
                <label for="startdate" id="labelstartdate">Datum (von):</label>
            </div>
            <div class="col-sm">
                <label for="starttime" id="labelstarttime">Zeit (von):</label>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="input-group">
                    <input 
                        class="form-control"
                        id="startdate"
                        ngbDatepicker #dstart="ngbDatepicker"
                        placeholder="yyyy-mm-dd"
                        
                        name="holidayStart"
                        [(ngModel)] = "startDate"
                    />
                    <div class="input-group-append">
                        <button
                            type="button"
                            class="btn btn-outline-secondary calendar fa fa-calendar"
                            id="bstartdate"
                            (click)="dstart.toggle()"
                        >
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group">
                    <ngb-timepicker
                        id="starttime"
                        [(ngModel)]="stime"
                        [minuteStep]=15

                        name="holidayStart"
                        [(ngModel)] = "startTime"
                    >
                    </ngb-timepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="enddate" id="labelenddate">Datum (bis):</label>
            </div>
            <div class="col-sm">
                <label for="endtime" id="labelendtime">Zeit (bis):</label>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="input-group">
                    <input 
                        class="form-control"
                        id="enddate"
                        ngbDatepicker #dend="ngbDatepicker"
                        placeholder="yyyy-mm-dd"

                        name="holidayEnd"
                        [(ngModel)] = "endDate"
                    />
                    <div class="input-group-append">
                        <button
                            class="btn btn-outline-secondary calendar fa fa-calendar"
                            id="benddate"
                            (click)="dend.toggle()"
                            type="button"
                        >
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group">
                    <ngb-timepicker 
                        name="endtimepicker"
                        id="endtime"
                        [(ngModel)]="etime"
                        [minuteStep]=15
                        
                        name="holidayEnd"
                        [(ngModel)] = "endTime"
                    >
                    </ngb-timepicker>
                </div>
            </div>

        </div>
                
        <div class="row" *ngIf="errorMsg">
            <div class="col-sm-12">
                <p class="alert alert-danger">
                    {{ errorMsg }}
                </p>
            </div>
        </div>
        <div class="row" *ngIf="successMsg">
            <div class="col-sm-12">
                <p class="alert alert-success">
                    {{ successMsg }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <button
                    type="button"
                    class="form-control"
                    id="moreoptions"
                >
                    Wiederkehrende Optionen
                </button>
            </div>
            <div class="col-sm">
                <button
                    [disabled]="!isCompleted()"
                    class="btn btn-primary"
                    type="submit"
                >
                    Urlaub eintragen
                </button>
            </div>
        </div>
    </form>
</div>

<!-- 
        <div class="form-row">
            <div class="col-sm">
                <input 
                    class="form-control" 
                    name="trainer"
                    id="TrainerId" 
                    placeholder="1" 
                    [(ngModel)] = "holiday.trainer"
                />
            </div>
        </div>
 -->