<header id="pageHeader">
    <h1 class="row justify-content-center">{{ title }}</h1>
    <hr />
</header>

<div *ngIf="trainerList.length == 0">
    <div class="row">
        <div class="col-lg-12">
            <p class="alert alert-info">
                Aktuell sind noch keine Trainer vorhanden!
            </p>
        </div>
    </div>
</div>

<!-- Search Bar -->
<div class="input-group justify-content-center mb-3">
    <div class="col-md-3"></div>
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
            ><i class="fas fa-search"></i
        ></span>
    </div>
    <input
        type="text"
        class="form-control"
        placeholder="Nach einem Trainer suchen ..."
        #filter
        (keyup)="filterList(filter.value)"
    />
    <div class="col-md-3"></div>
</div>

<div
    class="card shadow-sm mb-3 flex-row "
    id="card"
    *ngFor="let trainer of trainerListPage; index as i"
>
    <div
        class="bg-secondary p-auto d-flex align-items-center justify-content-center"
        id="cardLeft"
    >
        <div
            *ngIf="
                binaryEncodedImages[i + (currentPage - 1) * itemsPerPage] !=
                null
            "
            id="profilePicContainer"
        >
            <img
                [src]="
                    binaryEncodedImages[i + (currentPage - 1) * itemsPerPage]
                        | safeServerImage
                "
                id="profilePicture"
                class="img-fluid rounded"
            />
        </div>
        <div
            *ngIf="
                binaryEncodedImages[i + (currentPage - 1) * itemsPerPage] ==
                null
            "
            class="mx-auto d-block"
        >
            <i class="fas fa-user-alt fa-7x"></i>
        </div>
    </div>
    <div class="card-body" id="cardMiddle">
        <h4 class="card-title mt-3" id="cardHeader">
            {{ trainer.firstName }} {{ trainer.lastName }}
        </h4>

        <p clas="card-text" id="cardContent" style="font-size: 1.1rem">
            Telefonnummer: {{ trainer.phone }}<br />
            Email: {{ trainer.email }} <br />
            Geburtstag: {{ trainer.birthday }}
        </p>
    </div>
    <div
        class="d-flex flex-column justify-content-around py-1 m-3 mr-4"
        id="cardRight"
    >
        <!-- for more details admin can go to profile site of trainer (same infos, plus trainer related content like hosted events) -->

        <button
            type="button"
            class="btn btn-card"
            ngbTooltip="Bearbeiten"
            placement="left"
            [routerLink]="['/trainer/edit']"
            [queryParams]="{ id: trainer.id }"
        >
            <i class="fas fa-pencil-alt button-icon"></i>
        </button>

        <button
            type="button"
            class="btn btn-danger"
            (click)="open(trainer, i + (currentPage - 1) * itemsPerPage)"
            ngbTooltip="Löschen"
            placement="left"
        >
            <i class="fas fa-trash button-icon"></i>
        </button>
    </div>
</div>

<ngb-pagination
    class="d-flex justify-content-center"
    [(page)]="currentPage"
    [pageSize]="itemsPerPage"
    [collectionSize]="filteredTrainerList.length"
    (pageChange)="updateListPage()"
    [maxSize]="5"
    [rotate]="true"
>
    <ng-template ngbPaginationPrevious> Zurück </ng-template>
    <ng-template ngbPaginationNext> Weiter </ng-template>
</ngb-pagination>
