#trainerListHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#trainerListHeader h1 {
    flex-grow: 1;
}


#cardBody {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#cardLeft {
    width: 20%;
}

#cardMiddle {
  width: calc(100% - 20% - 100px);
}

#cardRight {
    width: 100px;
}