#courseViewHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#courseViewHeader h1 {
    flex-grow: 1;
}

#cardBody {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#overlay {
    opacity: 0.5;
}

.btn.btn-card {
    background-color: hsl(0, 0, 95);
    height: 47px;
    width: 47px;
}

.btn.btn-card:hover {
    background-color: hsl(0, 0, 85);
}

.button-icon {
    font-size: 25px;
}
