/* You can add global styles to this file, and also import other style files */
@import '../node_modules/angular-calendar/css/angular-calendar.css';

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid hsl(120, 70, 50); /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid red; /* red */
}

.birthday-color {
    color: #4daa57;
    font-weight: bold;
}
.consultation-color {
    color: #0d3b66;
    font-weight: bold;
}
.course-color {
    color: #00a6fb;
    font-weight: bold;
}
.holiday-color {
    color: #db5461;
    font-weight: bold;
}
.rent-color {
    color: #ffd972;
    font-weight: bold;
}
