<h1 class="row justify-content-center">{{ title }}</h1>
<hr />

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <form id="cancelationForm" #cancelationForm (submit)="cancelSubscription(cancelationForm)" class="container-fluid">
      <div class="textMessage">
        {{ textBox }}
      </div>
      <br />
      <div class="row justify-content-end">
        <input type="submit" class="btn btn-primary col-lg-3" *ngIf="valid" [(value)]="btnText" />
      </div>

      <div class="row" *ngIf="errorMsg">
        <div class="col-sm-12">
          <p class="alert alert-danger">
            {{ errorMsg }}
          </p>
        </div>
      </div>
      <div class="row" *ngIf="successMsg">
        <div class="col-sm-12">
          <p class="alert alert-success">
            {{ successMsg }}
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div>