<h1 class="row justify-content-center">Neuen Geburtstag Erstellen</h1>
<hr />

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <form id="tagForm" #form="ngForm" (ngSubmit)="postTag(form)">
        <div class="form-group">
          <label for="tagString">Geburtstag Name: </label>
          <input type="text" class="form-control" id="nameString" name="nameString" placeholder="Name" required
            [(ngModel)]="name" (keyup)="clearInfoMsg()" />
        </div>
        <div class="form-group">
          <label for="tagString">Preis in Euro: </label>
          <input type="number" class="form-control" id="price" name="price" placeholder="120" required
            [(ngModel)]="price" (keyup)="clearInfoMsg()" />
        </div>
        <div class="row" *ngIf="errorMsg">
          <div class="col-sm-12">
            <p class="alert alert-danger">
              {{ errorMsg }}
            </p>
          </div>
        </div>
        <div class="row" *ngIf="successMsg">
          <div class="col-sm-12">
            <p class="alert alert-success">
              {{ successMsg }}
            </p>
          </div>
        </div>
        <br />
        <div class="form-row justify-content-end">
          <button type="button" (click)="goBack()" class="btn btn-light mr-2">
            Abbrechen
          </button>
          <button [disabled]="!isComplete()" type="submit" class="btn btn-primary">
            Geburtstag Erstellen
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>