<h1 class="row justify-content-center">{{ title }}</h1>
<hr />

<form
    id="meetingForm"
    #meetingForm
    (change)="clearInfoMsg()"
    class="container-fluid"
>
    <div class="row justify-content-center">
        <div class="form-group col-lg-3">
            <label for="meetingFirstName">Vorname</label>
            <input
                class="form-control"
                [(ngModel)]="customer.firstName"
                type="text"
                name="firstName"
                id="meetingFirstName"
                placeholder="Maximilian"
                required
            />
        </div>
        <div class="form-group col-lg-3">
            <label for="meetingLastName">Nachname</label>
            <input
                class="form-control"
                [(ngModel)]="customer.lastName"
                type="text"
                name="lastName"
                id="meetingLastName"
                placeholder="Mustermann"
                required
            />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col-lg-3">
            <label for="meetingPhoneNumber">Telefonnummer</label>
            <input
                class="form-control"
                [(ngModel)]="customer.phone"
                type="text"
                name="phoneNumber"
                id="meetingPhoneNumber"
                placeholder="0676 433 2222"
                required
            />
        </div>
        <div class="form-group col-lg-3">
            <label for="meetingEmail">Email</label>
            <input
                class="form-control"
                [(ngModel)]="customer.email"
                type="email"
                name="email"
                id="meetingEmail"
                placeholder="max.mustermann@email.com"
                required
            />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col-lg-3" id="datePicker-dp-start">
            <label class="col-sm-2" for="dp">Von</label>
            <div class="input-group">
                <input
                    class="form-control"
                    id="dp-input-start"
                    name="dp"
                    [(ngModel)]="startDate"
                    ngbDatepicker
                    #d1="ngbDatepicker"
                />

                <div class="input-group-append">
                    <button
                        class="btn btn-outline-secondary calendar fa fa-calendar"
                        (click)="d1.toggle()"
                        type="button"
                    ></button>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-3" id="startTime_css">
            <ngb-timepicker
                [(ngModel)]="startTime"
                id="tp-input-start"
                name="startTime"
                [minuteStep]="minuteStep"
            >
            </ngb-timepicker>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="form-group col-lg-3" id="datePicker-dp-end">
            <label class="col-sm-2" id="datePicker-label-end" for="dp2"
                >Bis</label
            >
            <div class="input-group">
                <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp2"
                    [(ngModel)]="endDate"
                    ngbDatepicker
                    #d2="ngbDatepicker"
                />

                <div class="input-group-append">
                    <button
                        class="btn btn-outline-secondary calendar fa fa-calendar"
                        (click)="d2.toggle()"
                        type="button"
                    ></button>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-3" id="endTime_css">
            <ngb-timepicker
                [(ngModel)]="endTime"
                name="endTime"
                [minuteStep]="minuteStep"
            >
            </ngb-timepicker>
        </div>
    </div>

    <div class="row justify-content-md-center" id="meetingDropDown">
        <div ngbDropdown class="d-inline-block col-lg-3">
            <button
                class="btn btn-outline-primary"
                id="roomButtonStart"
                name="roomButton"
                ngbDropdownToggle
            >
                {{ roomString }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                    class="dropdown-item"
                    id="roomButtonSelected"
                    name="roomButton"
                    *ngFor="let room of rooms"
                    (click)="changeSortOrder(room)"
                >
                    {{ room }}
                </button>
            </div>
        </div>
    

        <label id="meetingPrice" class="form-group col-2"
            >(Hier wird angezeigt wie viel es kosten wird)</label
        >
    </div>

    <div class="row" *ngIf="errorMsg">
        <div class="col-sm-12">
            <p class="alert alert-danger">
                {{ errorMsg }}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="successMsg">
        <div class="col-sm-12">
            <p class="alert alert-success">
                {{ successMsg }}
            </p>
        </div>
    </div>
    <br />
  
    <div class="row justify-content-center">
        <button
            type="reset"
            class="btn btn-outline-secondary col-3"
            id="cancel"
        >
            Abbrechen
        </button>

        <button
            type="submit"
            class="btn btn-primary col-3"
            [disabled]="!isCompleted()"
            (click)="postMeeting(meetingForm)"
            id="meetingSave"
        >
            Kostenpflichtig mieten
        </button>
    </div>
</form>
