#datePicker-dp-endOfApplication {
    padding-top: 6px;
}

#allSelections {
    margin-top: 0.5rem;
}

.selection {
    display: flex;
    justify-content: space-between;
}

.fileName {
    display: inline;
}
