@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';

#datePicker-dp-endOfApplication {
    padding-top: 6px;
}

#beginLabel {
    padding-top: 7%;
}

#endLabel {
    padding-top: 7%;
    padding-right: 5px;
}

@include media-breakpoint-down(md) {
    #submit {
        justify-content: flex-end;
    }
}
