<h1 class="row justify-content-center">{{ title }}</h1>
<hr />

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form
            id="courseForm"
            #courseForm
            class="container-fluid"
            (change)="clearInfoMsg()"
        >
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="name">Kursname</label>
                    <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="event.name"
                        name="name"
                        id="courseName"
                        placeholder="Programmieren 2 für Kinder"
                        required
                    />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="courseDescription">Beschreibung</label>
                    <textarea
                        type="text"
                        class="form-control"
                        rows="4"
                        name="descriptionTextarea"
                        [(ngModel)]="event.description"
                        id="courseDescription"
                        ng-trim="false"
                        maxlength="1024"
                        placeholder="Beschreibung"
                        required
                    ></textarea>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-2">
                    <span
                        >{{
                            event.description == undefined
                                ? 0
                                : event.description.length
                        }}/1024</span
                    >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="courseMaxParticipant">Max. Teilnehmer</label>
                    <input
                        type="number"
                        [(ngModel)]="event.maxParticipants"
                        class="form-control"
                        id="courseMaxParticipant"
                        name="maxParticipants"
                        step="1"
                        min="5"
                        max="30"
                        placeholder="10"
                        required
                    />
                </div>
                <div class="form-group col-lg-6">
                    <label for="coursePrice">Preis</label>
                    <input
                        type="number"
                        lang="en-US"
                        placeholder="0.5"
                        [(ngModel)]="event.price"
                        class="form-control"
                        id="coursePrice"
                        name="coursePrice"
                        required
                    />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="courseMinAge">Mindestalter</label>
                    <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="event.minAge"
                        name="minAge"
                        id="courseMinAge"
                        step="1"
                        placeholder="5"
                        min="5"
                        required
                    />
                </div>
                <div class="form-group col-lg-6">
                    <label for="courseMaxAge">Höchstalter</label>
                    <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="event.maxAge"
                        name="maxAge"
                        id="courseMaxAge"
                        step="1"
                        placeholder="20"
                        max="100"
                        required
                    />
                </div>
            </div>
            <br />
            <div *ngIf="isCreate">
                <div class="row">
                    <div
                        class="form-group col-lg-6"
                        id="datePicker-dp-endOfApplication"
                    >
                        <label for="dp1">Ende der Anmeldefrist</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                placeholder="YYYY-MM-DD"
                                name="dp1"
                                [readOnly]="true"
                                [(ngModel)]="endOfApplicationDate"
                                ngbDatepicker
                                #d="ngbDatepicker"
                                (click)="d.toggle()"
                                required
                            />
                        </div>
                    </div>
                    <div class="form-group col-lg-4">
                        <ngb-timepicker
                            [(ngModel)]="endOfApplicationTime"
                            name="endOfApplicationTime"
                            [minuteStep]="minuteStep"
                            readonlyInputs="true"
                        >
                        </ngb-timepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6" id="datePicker-dp-start">
                        <label for="dp2">Findet statt am</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                placeholder="YYYY-MM-DD"
                                name="dp2"
                                [(ngModel)]="startDate"
                                ngbDatepicker
                                #d1="ngbDatepicker"
                                (click)="d1.toggle()"
                                required
                                readonly
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-1" id="beginLabel" for="startTime"
                        >Von</label
                    >
                    <div class="form-group col-lg-4">
                        <ngb-timepicker
                            [(ngModel)]="startTime"
                            name="startTime"
                            [minuteStep]="minuteStep"
                            readonlyInputs="true"
                        >
                        </ngb-timepicker>
                    </div>
                    <label class="col-lg-1" id="endLabel" for="endTime"
                        >Bis</label
                    >
                    <div class="form-group col-lg-4">
                        <ngb-timepicker
                            [(ngModel)]="endTime"
                            name="endTime"
                            [minuteStep]="minuteStep"
                            readonlyInputs="true"
                        >
                        </ngb-timepicker>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-1">Raum</label>
                </div>
                <div class="row" id="radioButtonRow">
                    <div
                        class="custom-control custom-radio custom-control-inline col-lg-3"
                    >
                        <input
                            type="radio"
                            id="greenRadioButton"
                            name="customRadioInline1"
                            class="custom-control-input"
                            (click)="greenSelected()"
                        />
                        <label
                            class="custom-control-label"
                            for="greenRadioButton"
                            >Grün</label
                        >
                    </div>
                    <div
                        class="custom-control custom-radio custom-control-inline col-lg-3"
                    >
                        <input
                            type="radio"
                            id="orangeRadioButton"
                            name="customRadioInline1"
                            class="custom-control-input"
                            (click)="orangeSelected()"
                        />
                        <label
                            class="custom-control-label"
                            for="orangeRadioButton"
                            >Orange</label
                        >
                    </div>
                    <div
                        class="custom-control custom-radio custom-control-inline col-lg-3"
                    >
                        <input
                            type="radio"
                            id="groundFloorRadioButton"
                            name="customRadioInline1"
                            class="custom-control-input"
                            (click)="groundFloorSelected()"
                        />
                        <label
                            class="custom-control-label"
                            for="groundFloorRadioButton"
                            >Erdgeschoss</label
                        >
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="errorMsg">
                <div class="col-sm-12">
                    <p class="alert alert-danger">
                        {{ errorMsg }}
                    </p>
                </div>
            </div>
            <div class="row" *ngIf="successMsg">
                <div class="col-sm-12">
                    <p class="alert alert-success">
                        {{ successMsg }}
                    </p>
                </div>
            </div>
            <br />
            <div class="row justify-content-end">
                <input
                    type="submit"
                    class="btn btn-primary col-lg-3"
                    id="couseSave"
                    [(value)]="btnText"
                    [disabled]="!isCompleted()"
                    (click)="postMeeting(courseForm)"
                />
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
<br />
<br />
