<form>
  <div class = "row">
    <b class = "col-2">Art vom Geburtstag:</b>

    <select class = "col-3" name = "birthdays">
      <option value = "DryIce"> Trockeneis Geburtstag</option>
      <option value = "Rocket"> Raketen Geburtstag</option>
      <option value = "Superhero"> Superhelden Geburtstag</option>
      <option value = "Photo">  Photo Geburtstag</option>
      <option value = "Painting"> Malen Geburtstag</option>
    </select>
    <b class = "col-2">Anzahl an kommende Kinder (ca.):</b>

    <select class = "col-3" name = "headcount">
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
    </select>
  </div>
  <div class = "row">
      <b class = "col-2">Wie alt wird es denn?</b>

      <select class = "col-3" name = "ageToBe">
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
      </select>
      <b class = "col-2">Wann wollen sie den Geburtstag gestalten?</b>
      <div>
          <label for="birthdaystart">Wann soll der Geburtstag staatfinden</label>
          <input class="form-control" id="geburtstagstart" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Start: Datum Uhrzeit" pickerType="both">
          <owl-date-time #dt1></owl-date-time><br>
      </div>
  </div>

 


</form>