<h1 class="row justify-content-center">{{ title }}</h1>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form
                id="trainerForm"
                #trainerForm
                (submit)="submitForm(trainerForm)"
                (change)="clearInfoMsg()"
                class="container-fluid"
            >
                <div class="form-row" od="row1">
                    <div class="form-group col-lg-4">
                        <label for="trainerFirstName">Vorname</label>
                        <input
                            type="text"
                            [(ngModel)]="trainer.firstName"
                            class="form-control"
                            name="firstName"
                            id="trainerFirstName"
                            placeholder="Ned"
                            required
                        />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="trainerLastName">Nachname</label>
                        <input
                            type="text"
                            [(ngModel)]="trainer.lastName"
                            class="form-control"
                            name="lastName"
                            id="trainerLastName"
                            placeholder="Stark"
                            required
                        />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="trainerBirthday">Geburtstag</label>
                        <input
                            class="datepicker"
                            data-date-format="YYYY-MM-DD"
                            [(ngModel)]="birthday"
                            class="form-control"
                            name="birthday"
                            id="trainerBirthday"
                            required
                            ngbDatepicker
                            [maxDate]="getMaxDateForBirth()"
                            [minDate]="getMinDateForBirth()"
                            [startDate]="getSelectionStart()"
                            (click)="varname.toggle()"
                            #varname="ngbDatepicker"
                            placeholder="YYYY-MM-DD"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-row" id="row2">
                    <div class="col-lg-12">
                        <label>Wählen der betreuten Geburtstage:</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-6">
                        <div
                            class="custom-control custom-checkbox"
                            *ngFor="let option of birthdayOptionsColumn1"
                            (click)="option.selected = !option.selected"
                        >
                            <input
                                class="custom-control-input"
                                type="checkbox"
                                [name]="option"
                                [(ngModel)]="option.selected"
                                [ngModelOptions]="{ standalone: true }"
                                value="{{ option.value }}"
                            />
                            <label class="custom-control-label" for="option">
                                {{ option.label }} Geburtstag
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div
                            class="custom-control custom-checkbox"
                            *ngFor="let option of birthdayOptionsColumn2"
                            (click)="option.selected = !option.selected"
                        >
                            <input
                                class="custom-control-input"
                                type="checkbox"
                                [name]="option"
                                [(ngModel)]="option.selected"
                                [ngModelOptions]="{ standalone: true }"
                                value="{{ option.value }}"
                            />
                            <label class="custom-control-label" for="option">
                                {{ option.label }} Geburtstag
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row" id="row3">
                    <div class="form-group col-lg-6">
                        <label for="trainerEmail">Email</label>
                        <input
                            type="email"
                            [(ngModel)]="trainer.email"
                            class="form-control"
                            name="email"
                            id="trainerEmail"
                            placeholder="ned.stark@raben.winterfell"
                            required
                        />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="trainerPhone">Telefonnummer</label>
                        <input
                            type="tel"
                            [(ngModel)]="trainer.phone"
                            class="form-control"
                            name="phone"
                            id="trainerPhone"
                            placeholder="0660 123 456 78"
                            required
                        />
                    </div>
                </div>

                <!-- password is not considered yet - store it within trainer but then it is sent across the network (not so smart) unless https protected -->

                <!-- this inputs for setting ad confirming a new password are only accessible by the admin -->
                <div class="form-row" id="row4">
                    <div class="form-group col-lg-6">
                        <label for="trainerPw">Neues Passwort eingeben</label>
                        <input
                            type="password"
                            [(ngModel)]="password"
                            class="form-control"
                            name="password"
                            id="trainerPw"
                            placeholder="{{ pwPlaceholder }}"
                            minlength="8"
                            autocomplete="new-password"
                            [required]="isSaveMode"
                        />
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="trainerPwRepeat"
                            >Passwort wiederholen</label
                        >
                        <input
                            type="password"
                            [(ngModel)]="passwordRepeated"
                            class="form-control"
                            name="passwordRepeat"
                            id="trainerPwRepeat"
                            placeholder="{{ pwRepeatPlaceholder }}"
                            minlength="8"
                            autocomplete="new-password"
                            [required]="isSaveMode"
                        />
                    </div>
                </div>

                <div class="form-row align-items-center" id="row5">
                    <div class="col-auto">
                        <label class="custom-file-label" for="fileUpload">
                            {{ imageName }}
                        </label>
                        <input
                            type="file"
                            class="custom-file-input"
                            id="fileUpload"
                            (change)="onFileSelected($event, croppieModal)"
                            accept="image/*"
                        />
                    </div>
                </div>

                <div class="">
                    <div
                        *ngIf="binaryEncodedCroppedImage != null"
                        id="profilePicContainer"
                    >
                        <img
                            [src]="binaryEncodedCroppedImage | safeServerImage"
                            class="img-thumbnail"
                            id="cropped-picture"
                        />
                    </div>
                </div>

                <div class="row" *ngIf="errorMsg">
                    <div class="col-lg-12">
                        <p class="alert alert-danger">
                            {{ errorMsg }}
                        </p>
                    </div>
                </div>
                <div class="row" *ngIf="successMsg">
                    <div class="col-lg-12">
                        <p class="alert alert-success">
                            {{ successMsg }}
                        </p>
                    </div>
                </div>

                <div class="form-row justify-content-end" id="row6">
                    <div>
                        <button
                            type="reset"
                            class="btn btn-light mr-2"
                            id="cancel"
                            (click)="cancel()"
                        >
                            Abbrechen
                        </button>
                        <button
                            type="submit"
                            [disabled]="!isCompleted()"
                            class="btn btn-primary"
                            id="save"
                        >
                            <!-- either 'Neuen Betreuer speichern' oder 'Änderungen speichern'-->
                            {{ btnContextDescription }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<ng-template #croppieModal let-modal>
    <div class="modal-body">
        <img
            [src]="binaryEncodedImage | safeServerImage"
            class="img-thumbnail"
            id="profilePicture"
        />
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-primary"
            (click)="saveCropped(); modal.close()"
        >
            Speichern
        </button>
    </div>
</ng-template>
