<h1>{{ title }}</h1>
<hr />

<form
    id="trainerForm"
    #trainerForm
    (ngsubmit)="postTrainer(trainerForm)"
    class="container-fluid"
>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="trainerFirstName">Vorname</label>
            <input
                type="text"
                class="form-control"
                name="firstName"
                id="trainerFirstName"
                placeholder="Ned"
                required
            />
        </div>
        <div class="form-group col-lg-6">
            <label for="trainerLastName">Nachname</label>
            <input
                type="text"
                class="form-control"
                name="lastName"
                id="trainerLastName"
                placeholder="Stark"
                required
            />
        </div>
    </div>
    <div class="form-group">
        <label for="trainerAge">Geburtstag</label>
        <input
            type="date"
            class="form-control"
            name="birthday"
            id="trainerAge"
            required
        />
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="trainerEmail">Email</label>
            <input
                type="email"
                class="form-control"
                name="email"
                id="trainerEmail"
                placeholder="ned.stark@raben.winterfell"
                required
            />
        </div>
        <div class="form-group col-lg-6">
            <label for="trainerPhone">Telefonnummer</label>
            <input
                type="tel"
                class="form-control"
                name="phone"
                id="trainerPhone"
                placeholder="0660 123 456 78"
                required
            />
        </div>
    </div>

    <!-- this inputs for setting ad confirming a new password are only accessible by the admin -->
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="trainerPw">Neues Passwort eingeben</label>
            <input
                type="password"
                class="form-control"
                name="password"
                id="trainerPw"
                placeholder="Neues Passwort"
                required
            />
        </div>

        <div class="form-group col-lg-6">
            <label for="trainerPwRepeat">Passwort wiederholen</label>
            <input
                type="password"
                class="form-control"
                name="passwordRepeat"
                id="trainerPwRepeat"
                placeholder="Passwort wiederholen"
                required
            />
        </div>
    </div>

    <div class="form-row justify-content-center">
        <div class="col-4 m-auto">
            Here goes a container for a profile picture if uploaded, else an
            icon
        </div>

        <div class="col-4 m-auto">
            Here should be a clickable icon to upload a picture
        </div>
    </div>

    <div class="form-row justify-content-center">
        <button type="submit" class="btn btn-primary col-sm-6" id="save">
            Neuen Betreuer Anlegen
        </button>
        <button type="reset" class="btn btn-danger col-sm-6" id="cancel">
            Anlegen abbrechen
        </button>
    </div>
</form>
