<h1 class="row justify-content-center">Geburtstag eintragen</h1>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="container col-lg-6">
            <form id="birthdayForm" #birthdayForm>
                <div class="form-group">
                    <label for="birthdayType">Art des Geburtstags:</label>
                    <select
                        class="form-control"
                        name="birthdays"
                        id="birthdayType"
                        [(ngModel)]="event.birthdayType"
                        required
                    >
                        <option value="DryIce"> Trockeneis Geburtstag</option>
                        <option value="Rocket"> Raketen Geburtstag</option>
                        <option value="Superhero">
                            Superhelden Geburtstag</option
                        >
                        <option value="Photo"> Photo Geburtstag</option>
                        <option value="Painting"> Malen Geburtstag</option>
                    </select>
                </div>
                <div class="row align-items-center">
                    <div class="form-group col-sm">
                        <label for="birthdayHeadcount"
                            >Wie viele Kinder kommen?</label
                        >
                        <select
                            class="form-control"
                            name="headcount"
                            id="birthdayHeadcount"
                            [(ngModel)]="event.headcount"
                            required
                        >
                            <option
                                *ngFor="let number of ageList"
                                [value]="number"
                                >{{ number }}</option
                            >
                        </select>
                    </div>
                    <div class="form-group col-sm">
                        <label for="birthdayAgeToBe"
                            >Alter des Geburtstagskindes?</label
                        >
                        <select
                            class="form-control"
                            name="ageToBe"
                            id="birthdayAgeToBe"
                            [(ngModel)]="event.ageToBe"
                            requried
                        >
                            <option
                                *ngFor="let number of ageListb"
                                [value]="number"
                                >{{ number }}</option
                            >
                        </select>
                    </div>
                </div>
                <div class="row align-items-center" id="preCustomerRow">
                    <div class="form-group col-md-6">
                        <label for="birthdayRoom"
                            >Welches Zimmer wollen Sie verwenden?</label
                        >
                        <select
                            class="form-control"
                            name="room"
                            id="birthdayRoom"
                            [(ngModel)]="room.room"
                            required
                        >
                            <option value="GroundFloor">Erdgeschoss</option>
                            <option value="Orange">Orangene Raum</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Feier findet statt am:</label>
                        <input
                            [readonly]="true"
                            class="form-control"
                            id="startDateTime"
                            placeholder="YYYY-MM-DD"
                            ngbDatepicker
                            (click)="varname.toggle()"
                            #varname="ngbDatepicker"
                            [(ngModel)]="startDate"
                            name="startDate"
                        />
                    </div>
                    <div class="col-md-3" id="startTimeBox">
                        <ngb-timepicker
                            readonlyInputs="true"
                            id="startTime"
                            [minuteStep]="15"
                            [(ngModel)]="startTime"
                            name="startTime"
                        ></ngb-timepicker>
                    </div>
                </div>
                <h2>Kundendaten</h2>
                <hr />
                <div class="form-group">
                    <label for="customerFirstName">Vorname</label>
                    <input
                        type="text"
                        class="form-control"
                        id="customerFirstName"
                        name="firstName"
                        placeholder="Marie"
                        required
                        [(ngModel)]="customer.firstName"
                    />
                </div>
                <div class="form-group">
                    <label for="customerLastName">Nachname</label>
                    <input
                        type="text"
                        class="form-control"
                        id="customerLastName"
                        name="LastName"
                        placeholder="Steiner"
                        required
                        [(ngModel)]="customer.lastName"
                    />
                </div>
                <div class="form-group">
                    <label for="customerEmail">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        name="email"
                        id="customerEmail"
                        placeholder="marie.steiner@dorf.at"
                        [(ngModel)]="customer.email"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="customerPhone">Telefonnummer</label>
                    <input
                        type="tel"
                        class="form-control"
                        name="telephoneNumber"
                        id="customerPhone"
                        placeholder="(0123) 456 78 90"
                        [(ngModel)]="customer.phone"
                        required
                    />
                </div>
                <br />
                <div class="row" *ngIf="errorMsg">
                    <div class="col-sm-12">
                        <p class="alert alert-danger">
                            {{ errorMsg }}
                        </p>
                    </div>
                </div>
                <div class="row" *ngIf="successMsg">
                    <div class="col-sm-12">
                        <p class="alert alert-success">
                            {{ successMsg }}
                        </p>
                    </div>
                </div>
                <br />
                <div class="row justify-content-end">
                    <button
                        class="btn btn-light mr-2"
                        (click)="goBack()"
                        *ngIf="!auth.isLoggedIn"
                    >
                        Abbrechen
                    </button>
                    <input
                        type="submit"
                        class="btn btn-primary col-lg-4"
                        [disabled]="!isComplete()"
                        id="birthdaySave"
                        value="Geburtstag eintragen"
                        (click)="postBirthday(birthdayForm)"
                        *ngIf="!loading"
                    />
                    <button
                        class="btn btn-primary col-lg-3"
                        type="button"
                        *ngIf="loading"
                        disabled
                    >
                        <span
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        ></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<br />
<br />
