<div class = "container">
<h1>Geburtstag buchen</h1>
<hr/>
<form id = "birthdayForm" #form = "ngForm"  (ngSubmit)="postBirthday(form)">
  <div class="form-group">
      <label for="birthdayType" >Art vom Geburtstag:</label>
      <select class="form-control" name="birthdays" id="birthdayType" [(ngModel)] = "event.birthdayType" required>
          <option value="DryIce"> Trockeneis Geburtstag</option>
          <option value="Rocket"> Raketen Geburtstag</option>
          <option value="Superhero"> Superhelden Geburtstag</option>
          <option value="Photo"> Photo Geburtstag</option>
          <option value="Painting"> Malen Geburtstag</option>
      </select>
  </div>
  <div class = "row align-items-center">
  <div class = "form-group col-sm">
      <label for="birthdayHeadcount">Anzahl an kommende Kinder (ca.):</label>
      <select class="form-control" name="headcount" id="birthdayHeadcount" [(ngModel)] = "event.headcount" required>
          <option *ngFor="let number of ageList" [value]="number">{{number}}</option>
      </select>
  </div>
  <div class="form-group col-sm">
      <label for = "birthdayAgeToBe">Wie alt wird es denn?</label>
      <select class="form-control" name="ageToBe" id = "birthdayAgeToBe" [(ngModel)] = "event.ageToBe" requried >
        <option *ngFor="let number of ageListb" [value]="number">{{number}}</option>
      </select>
    </div>
</div>
<div class ="row justify-content-center">
    <div class = "col-sm-6">
        <label for="birthdayRoom">In welchem Zimmer wollen sie den Geburtstag gestalten</label>
        <select class="form-control" name="room" id="birthdayRoom" [(ngModel)] = "room.room" required>
            <option value = "GroundFloor">Erdgeschoss</option>
            <option value = "Orange">Orangene Raum</option>
        </select>
    </div>
    
    <div class = "input-group col-sm-3">
        <label>Feier findet staat am:</label>
        <input id="startDateTime" ngbDatepicker #varname="ngbDatepicker" [(ngModel)] = "startDate" name  = "startDate"/>
        <div class = "input-group-append">
            <button class = "btn btn-outline-secondary calendar fa fa-calendar" (click)="varname.toggle()" ></button>
        </div>
    </div>
    <div class = "form-group col-sm-3">
        <ngb-timepicker id ="startTime" [minuteStep]=15 [(ngModel)] = "startTime" name = "startTime"></ngb-timepicker>
    </div>
</div>
    <h2>Kundendaten</h2>
    <hr/>
    <div class = "form-group">
        <label for="customerFirstName">Vorname</label>
        <input type = "text" class = "form-control" id="customerFirstName" name ="firstName" placeholder="Marie" required [(ngModel)] = "customer.firstName">
    </div>
    <div class = "form-group">
        <label for="customerLastName">Nachname</label>
        <input type = "text" class = "form-control" id="customerLastName" name ="LastName" placeholder="Steiner" required [(ngModel)] = "customer.lastName">
    </div>
    <div class = "form-group">
        <label for="customerEmail">E-mail</label>
        <input
            type="email"
            class="form-control"
            name="email"
            id="customerEmail"
            placeholder="marie.steiner@dorf.at"
            [(ngModel)] = "customer.email"
            required
        />
    </div>
    <div class = "form-group">
        <label for = "customerPhone">Telefonnummer</label>
        <input
            type = "tel"
            class = "form-control"
            name = "telephoneNumber"
            id = "customerPhone"
            placeholder="(0123) 456 78 90"
            [(ngModel)] = "customer.phone"
            required
        />
    </div>

    <div class="form-row justify-content-center">
        <button [disabled]="!(isComplete())"  type="submit" class="btn btn-primary col-4 center ml-auto">
            Geburtstag Buchen
        </button>
        <button type="reset" class="btn btn-danger col-4 center mr-auto">
            Neustarten
        </button>
    </div>
  
</form>
</div>
